:root{
    --dark-blue:#363f5f
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f2f5;
    font-family: "Poppins",sans-serif;
}

/* .container{
    width: min(90vw,800px);
    /* Centralzar *//*
    margin: auto; 
} */

/* Title */
h2{
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: 400;
}
/* Header==== */
header{
    background: #2d4a22;
    padding: 2rem 0 10rem; /*3 informações é acima, abaixo e laterais*/
    /* Alinhar texto */
    text-align: center;
}

#logo{
    color: #fff;
    font-weight: 100;
}
.card{
    background-color: #fff;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: var(--dark-blue);
}